h1 {
  background-color: #fafafa;
  padding: 10px;
}

h2 {
  display: inline-block;
  border-bottom: solid 1px #d7d7d7;
}

h3 {
  border-left: solid 4px #d7d7d7;
  padding-left: 10px;
  font-size: 1.2em;
}

img {
  background-color: #d7d7d7;
  padding: 1px;
  display: block;
  margin: 0 auto;
}

.caption {
  font-size: 0.7em;
  text-align: center;
  margin-bottom: 30px;
}
